.control-list {
    display: flex;
    .control-item {
        .control-button {
            transition: all 0.2s ease-in-out;
            height: 3rem;
            .control-icon {
                color: black;
            }
        }
        .control-title {
            text-align: center;
        }
    }
}
