.cam-container {
    position: relative;
    width: 100vw;
    height: calc(100vw * 9 / 16);
    .cam {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
    }
}
